pr:
  branches:
    include:
      - dev
  paths:
    exclude:
      - docs/*
      - README.md

trigger:
 branches:
   include:
     - master
 paths:
   exclude:
     - docs/*
     - README.md
     - 01_azure-pipelines-ci.yml
     - 02_azure-pipelines-ci.yml
     - 03_azure-pipelines-ci-cd.yml

parameters:
- name: runCompletePipeline
  displayName: Run All Tasks ?
  type: boolean
  default: true

stages:
- stage: Build_Stage
  displayName: Build Apps
  jobs:

  - job: WebApp
    displayName: Build Web App
    pool:
      vmImage: 'windows-2022'
    variables:
      BuildConfiguration: release
    steps:

    - task: UseDotNet@2
      displayName: Install .NET 8 sdk
      inputs:
        packageType: sdk
        version: 8.0.x
        installationPath: $(Agent.ToolsDirectory)/dotnet

    - task: DotNetCoreCLI@2
      displayName: Restore Nuget Packages
      inputs:
        command: restore
        projects: '**/WebApp.csproj'
    
    # WhiteSource Bolt has been deprecated and removed
    # Use alternative security scanning tools like Dependabot or Snyk

    - task: PowerShell@2
      displayName: Prepare for Sonar Cloud
      enabled: ${{ parameters.runCompletePipeline }}
      inputs:
        targetType: 'inline'
        script: |
          $paths = Get-ChildItem -include *.csproj -Recurse
                foreach($pathobject in $paths) 
                {
                    $path = $pathobject.fullname
                    $doc = New-Object System.Xml.XmlDocument
                    $doc.Load($path)
                    $child = $doc.CreateElement("ProjectGuid")
                    $child.InnerText = [guid]::NewGuid().ToString().ToUpper()
                    $node = $doc.SelectSingleNode("//Project/PropertyGroup")
                    $node.AppendChild($child)
                    $doc.Save($path)
                }
        workingDirectory: 'WebApp'

    - task: SonarCloudPrepare@2
      displayName: Prepare analysis on SonarCloud
      enabled: ${{ parameters.runCompletePipeline }}
      inputs:
        SonarCloud: SonarCloud-Connection
        organization: megapers0194
        scannerMode: 'MSBuild'
        projectKey: WebAppWithDatabaseDemo

    - task: DotNetCoreCLI@2
      displayName: Build WebApp
      inputs:
        projects: '**/WebApp.csproj'
        arguments: '--configuration $(BuildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: Run Unit Tests
      enabled: ${{ parameters.runCompletePipeline }}
      inputs:
        command: test
        projects: '**/*UnitTest*.csproj'
        arguments: '--configuration $(BuildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: Create WebApp.zip
      inputs:
        command: publish
        publishWebProjects: True
        arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
        zipAfterPublish: True

    - task: SonarCloudAnalyze@2
      displayName: Run Code Analysis
      enabled: ${{ parameters.runCompletePipeline }}

    - task: SonarCloudPublish@2
      displayName: Publish Quality Gate Result
      enabled: ${{ parameters.runCompletePipeline }}

    - task: PublishBuildArtifacts@1
      displayName: Publish Artifact (WebApp.zip)
      inputs:
        PathtoPublish: '$(build.artifactstagingdirectory)'
        ArtifactName: drop

  - job: Database
    displayName: Build Database
    pool:
      vmImage: 'windows-2022'
      demands: msbuild
    steps:

    - task: MSBuild@1
      displayName: Build WebApp.Database.sqlproj
      inputs:
        solution: WebApp.Database/WebApp.Database.sqlproj
        msbuildArguments: '/p:OutDir=$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: Publish Artifact (Dacpac)
      inputs:
        ArtifactName: dacpac

  - job: Selenium
    displayName: Build UI Tests
    pool:
      vmImage: 'windows-2022'
      demands: msbuild

    steps:
    - task: NuGetToolInstaller@0
      displayName: Use NuGet 4.3.0

    - task: NuGetCommand@2
      displayName: Restoore NuGet Packages
      inputs:
        restoreSolution: WebAppWithDatabase.sln

    - task: MSBuild@1
      displayName: Build SeleniumUiTests.csproj
      inputs:
        solution: SeleniumUiTests/SeleniumUiTests.csproj
        msbuildArguments: '/p:OutDir=$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: UI-Test'
      inputs:
        ArtifactName: ui-tests

  - job: Infrastructure
    displayName: Publish Infra files
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: Bicep templates'
      inputs:
        PathtoPublish: AzureResourceGroupDeployment
        ArtifactName: bicep

- stage: Dev_Stage
  displayName: Create & Deploy to Dev
  dependsOn: Build_Stage
  variables:
    azureSubscription: 'azure-connection'
    ResourceGroupName: '$(Prefix)-$(Release.EnvironmentName)-$(UniqueId)-RG'
    Database.Admin: 'azureadmin'
    Database.Password: '@Aa123456' # to be secured in Key Vault
    Database.Name: 'EmployeesDB'
    WebAppName: '$(Prefix)-$(Release.EnvironmentName)-$(UniqueId)'
    WebAppNameUrl: 'https://$(WebAppName).azurewebsites.net/'
    SqlServerName: '$(Prefix)-sql-$(Release.EnvironmentName)-$(UniqueId)'
    Prefix: 'megapers'
    Release.EnvironmentName: 'dev'
    UniqueId: '1280' #'$(Build.BuildId)'
    hostingPlanName: '$(Prefix)-service-plan'

  jobs:
  - job: Create_DEV
    displayName: Create DEV
    pool:
      vmImage: 'windows-2022'
    steps:

    - checkout: none
    - task: DownloadBuildArtifacts@0
      displayName: Download Bicep templates
      inputs:
        artifactName: bicep
        downloadPath: $(System.DefaultWorkingDirectory)

    - task: AzureCLI@2
      displayName: Create Resource Group
      inputs:
        azureSubscription: 'azure-connection'
        scriptType: 'pscore'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az group create --name $(ResourceGroupName) --location 'canadacentral'

    - task: AzureCLI@2
      displayName: Validate Bicep template
      enabled: ${{ parameters.runCompletePipeline }}
      inputs:
        azureSubscription: 'azure-connection'
        scriptType: 'pscore'
        scriptLocation: 'inlineScript'
        workingDirectory: '$(System.DefaultWorkingDirectory)/bicep'
        inlineScript: |
          az deployment group validate `
            --resource-group $(ResourceGroupName) `
            --template-file WebSiteSQLDatabase.bicep `
            --parameters WebSiteSQLDatabase.bicepparam `
            --parameters hostingPlanName='$(hostingPlanName)' `
            --parameters skuName='F1' `
            --parameters skuCapacity=1 `
            --parameters administratorLogin='$(Database.Admin)' `
            --parameters administratorLoginPassword='$(Database.Password)' `
            --parameters databaseName='$(Database.Name)' `
            --parameters webSiteName='$(WebAppName)' `
            --parameters sqlserverName='$(SqlServerName)' `
            --parameters location='canadacentral'

    # AzSK has been deprecated - using PSRule for Bicep scanning instead

    # Scan Bicep templates using PSRule
    - task: PowerShell@2
      displayName: Scan Bicep templates using PSRule
      inputs:
        targetType: 'inline'
        script: |
          Install-Module -Name PSRule.Rules.Azure -Scope CurrentUser -Force
          $outputPath = "$(System.DefaultWorkingDirectory)/bicep/results"
          New-Item -ItemType Directory -Force -Path $outputPath
          
          Assert-PSRule -Module PSRule.Rules.Azure `
            -InputPath '$(System.DefaultWorkingDirectory)/bicep/' `
            -Format File `
            -OutputFormat NUnit3 `
            -OutputPath "$outputPath/psrule-results.xml"
        pwsh: true
        workingDirectory: '$(System.DefaultWorkingDirectory)/bicep'
      continueOnError: true

    - task: PublishTestResults@2
      displayName: Publish PSRule Test Results
      inputs:
        testResultsFormat: 'NUnit'
        testResultsFiles: '$(System.DefaultWorkingDirectory)/bicep/results/*-results.xml'
        mergeTestResults: true
        testRunTitle: 'PSRule Bicep Analysis'
      condition: always()

    - task: AzureCLI@2
      displayName: Deploy Bicep template
      inputs:
        azureSubscription: 'azure-connection'
        scriptType: 'pscore'
        scriptLocation: 'inlineScript'
        workingDirectory: '$(System.DefaultWorkingDirectory)/bicep'
        inlineScript: |
          az deployment group create `
            --resource-group $(ResourceGroupName) `
            --template-file WebSiteSQLDatabase.bicep `
            --parameters WebSiteSQLDatabase.bicepparam `
            --parameters hostingPlanName='$(hostingPlanName)' `
            --parameters skuName='F1' `
            --parameters skuCapacity=1 `
            --parameters administratorLogin='$(Database.Admin)' `
            --parameters administratorLoginPassword='$(Database.Password)' `
            --parameters databaseName='$(Database.Name)' `
            --parameters webSiteName='$(WebAppName)' `
            --parameters sqlserverName='$(SqlServerName)' `
            --parameters location='canadacentral' `
            --mode Complete

    # AzSK SVTs (Security Verification Tests) has been deprecated
    # Consider using Azure Policy or Microsoft Defender for Cloud for security scanning

  - job: Deploy_DEV
    displayName: Deploy Apps to DEV
    dependsOn: Create_DEV
    pool:
      vmImage: 'windows-2022'
    steps:

    - checkout: none
# new JOB: Deploy App & Database
    - task: DownloadBuildArtifacts@0    
      displayName: Download WebApp.zip
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        itemPattern: '**/WebApp.zip'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: AzureRmWebAppDeployment@4
      displayName: Deploy WebApp to Azure
      inputs:
        azureSubscription: 'azure-connection'
        appType: 'webApp'
        WebAppName: '$(WebAppName)'
        Package: '$(System.DefaultWorkingDirectory)/drop/WebApp.zip'
        enableCustomDeployment: true
        DeploymentType: 'zipDeploy'
        TakeAppOfflineFlag: true
        JSONFiles: '**/appsettings.json'

    - task: DownloadBuildArtifacts@0    
      displayName: Download DacPac
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'dacpac'
        itemPattern: '**/*.dacpac'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: SqlAzureDacpacDeployment@1
      displayName: Deploy DacPac to SQL Azure
      inputs:
        azureSubscription: 'azure-connection'
        AuthenticationType: 'server'
        ServerName: '$(SqlServerName).database.windows.net,1433'
        DatabaseName: '$(Database.Name)'
        SqlUsername: '$(Database.Admin)'
        SqlPassword: '$(Database.Password)'
        deployType: 'DacpacTask'
        DeploymentAction: 'Publish'
        DacpacFile: '$(System.DefaultWorkingDirectory)/dacpac/WebApp.Database.dacpac'
        IpDetectionMethod: 'AutoDetect'
# new JOB: Selenium
  - job: Test_DEV
    displayName: Run Selenium tests in DEV
    dependsOn: Deploy_DEV
    pool:
      vmImage: 'windows-2022'
    steps:

    - checkout: none
    - task: DownloadBuildArtifacts@0    
      displayName: Download Selenium Tests
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'ui-tests'
        itemPattern: ''
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: VSTest@2
      displayName: Run Selenium UI Tests
      inputs:
        testSelector: 'testAssemblies'
        searchFolder: '$(System.DefaultWorkingDirectory)/ui-tests'
        runSettingsFile: '$(System.DefaultWorkingDirectory)/ui-tests/.runsettings'
        overrideTestrunParameters: '-webAppUrl $(WebAppNameUrl)'
        testAssemblyVer2: |
          **\*Test*.dll 
          !**\*TestAdapter.dll 
          !**\obj\**
        runInParallel: false
        codeCoverageEnabled: true


- stage: Test_Stage
  displayName: Test Stage
  jobs:
  - job:
    displayName: Deploy to Test
    steps:
      - task: CmdLine@2
        inputs:
          script: 'ls'
          
- stage: Prod_Stage
  displayName: Prod Stage
  jobs:
  - job:
    displayName: Deploy to Prod
    steps:
      - task: CmdLine@2
        inputs:
          script: 'ls'
